span.calendar_btn {line-height:0; margin:0; width:20px; height:20px; display: inline-block; vertical-align:middle;
    border:0 none; cursor: pointer;outline:none;
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("./tinycal.gif");
}
span.calendar_btn.foreMonth {background-position:0 0;}
span.calendar_btn.foreMonth:hover {background-position:-20px 0;}
span.calendar_btn.nextMonth {background-position:-40px 0;}
span.calendar_btn.nextMonth:hover {background-position:-60px 0;}
span.calendar_btn.foreYear {background-position:-80px 0;}
span.calendar_btn.foreYear:hover {background-position:-100px 0;}
span.calendar_btn.nextYear {background-position:-120px 0;}
span.calendar_btn.nextYear:hover {background-position:-140px 0;}

span.calendar_opr {line-height:0; margin:0; width:33px; height:13px; display: inline-block; vertical-align:top;
    border:0 none; cursor: pointer;outline:none;
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("./tinycal.gif");
}
span.calendar_opr.close {background-position:-120px -20px;}
span.calendar_opr.close:hover {background-position:-120px -33px;}
span.calendar_opr.ok {background-position:-153px -20px;}
span.calendar_opr.ok:hover{background-position:-153px -33px;}

table.calendar {
    border-spacing: 0;
    padding:0;
    width:100%;
}
table.calendar td,th {
    font-size:14px;
    height:27px;
}
table.calendar td.today {
    border:1px solid red;
}

div.calendar_day {margin:0; width:24px; height:25px; 
    border:0 none; cursor: pointer; vertical-align:"middle";
    background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;
    background-image:url("./tinycal.gif");
}
div.calendar_day.selectedDay {background-position:0 -20px;}
div.calendar_day.day {background-position:-24px -20px;}
div.calendar_day.day:hover {background-position:-48px -20px;}
div.calendar_day.today {background-position:-72px -20px;}
div.calendar_day.blur {background-position:-96px -20px;}

.calendar_body {
    border-collapse: collapse;
    display:none;
    position:absolute;
    background:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow:0 0 5px black;
    -moz-box-shadow:0 0 5px black;    
    border-radius:5px;
    border: 1px solid #AAAAAA;
}
